<div class="container">
  <div class="header">
    <h2>Gestión de Salarios</h2>
    <button class="btn btn-primary" (click)="abrirFormulario()">
      <i class="icon">+</i>
      Nuevo Registro de Salario
    </button>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Empleado</th>
          <th>Sueldo Base</th>
          <th>Horas Extra</th>
          <th>Bonificaciones</th>
          <th>Total Bruto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salario of salarios">
          <td>{{salario.empleado.nombres}} {{salario.empleado.apellidos}}</td>
          <td>S/ {{salario.sueldoBase | number:'1.2-2'}}</td>
          <td>S/ {{salario.horasExtra | number:'1.2-2'}}</td>
          <td>S/ {{salario.bonificaciones | number:'1.2-2'}}</td>
          <td>S/ {{salario.totalBruto | number:'1.2-2'}}</td>
          <td class="acciones">
            <button class="btn btn-warning" (click)="abrirFormulario(salario)">
              <i class="icon">✎</i>
            </button>
            <button class="btn btn-danger" (click)="eliminarSalario(salario.idSalario!)">
              <i class="icon">×</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-salario-form
    *ngIf="mostrarFormulario"
    [salario]="salarioSeleccionado"
    (guardarSalario)="onGuardarSalario()"
    (cancelar)="onCancelar()">
  </app-salario-form>
</div> 